<c-row>
  <c-col xs>
    <c-card class="mb-4 shadow-sm">
      <c-card-body>

        <!-- Barre de recherche -->
        <div class="d-flex justify-content-between mb-3">
          <h5 class="mb-0">Gestion des Utilisateurs</h5>
          <input type="text" class="form-control w-25" placeholder="Rechercher...">
        </div>

        <table
          [hover]="true"
          [responsive]="true"
          [striped]="true"
          align="middle"
          cTable
          class="mb-0 border"
        >
          <thead class="text-nowrap text-truncate">
            <tr>
              <th class="bg-body-tertiary text-center">
                <svg cIcon name="cilPeople"></svg>
              </th>
              <th class="bg-body-tertiary">Nom </th>
              <th class="bg-body-tertiary text-center">Email</th>
              <th class="bg-body-tertiary">Rôle</th>
              <th class="bg-body-tertiary text-center">Actions</th>
            </tr>
          </thead>
          <tbody>
            
              <tr *ngFor="let user of users">
              <td class="text-center">
                <div class="fw-bold">{{ user.id }}</div>
              </td>
              <td>
                <div class="fw-bold">{{ user.name }}</div>
              </td>
              <td class="text-center">
                <div>{{ user.email }}</div>
              </td>
              <td>
                <span class="badge" [ngClass]="{
                  'bg-primary': user.role === 'ADMIN',
                  'bg-success': user.role === 'USER',
                  'bg-warning': user.role === 'MODERATEUR'
                }">
                  {{ user.role }}
                </span>
              </td>
              <td class="text-center">
                <button class="btn btn-sm btn-outline-warning me-2" >
                  <svg cIcon name="cilPencil"></svg>
                </button>
                <button (click)="deleteUser(user.id)" class="btn btn-sm btn-outline-danger" >
                  <svg cIcon name="cilTrash"></svg>
                </button>
              </td>
            </tr>
          </tbody>
        </table>

      </c-card-body>
    </c-card>
  </c-col>
</c-row>
 